<!DOCTYPE html>
<html lang="es">
<head>
	{% load staticfiles %}
	<title>Edicion Empleado</title>
	<link rel="stylesheet" type="text/css" href="/static/bs/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="/static/bs/css/signin.css">
	<script src="/static/bs/js/jquery-1.11.2.min.js"></script>
	<script src="/static/bs/js/bootstrap.min.js"></script>
	{% if emp_del %}
		<script>$(document).ready(function(){alert("Empleado eliminado");});</script>
	{% endif %}
	<script src="/static/js/sorttable.js"></script>
</head>
<body>
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      <div class="navbar-brand">Plataforma Empresa</div>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		<li><a href="/show_perfil/"><span class="glyphicon glyphicon-home"></span> {%if empleado%}{{empleado}}{%endif%}</a></li>
    <li><a href="/calendario_laboral"><span class="glyphicon glyphicon-calendar"></span> Calendario Laboral</a></li>        
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span> Empleados<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/add_empleado"><span class="glyphicon glyphicon-list"></span> Añadir Empleados</a></li>
            <li><a href="/show_empleados"><span class="glyphicon glyphicon-list"></span> Ver Empleados</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-briefcase"></span> Departamentos<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/add_departamento"><span class="glyphicon glyphicon-list"></span> Añadir Departamentos</a></li>
            <li><a href="/show_departamentos"><span class="glyphicon glyphicon-list"></span> Ver Departamentos</a></li>
            <li><a href="/add_puesto"><span class="glyphicon glyphicon-list"></span> Añadir Puestos</a></li>
            <li><a href="/show_puestos"><span class="glyphicon glyphicon-list"></span> Ver Puestos</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-hdd"></span> Materiales<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/add_material"><span class="glyphicon glyphicon-list"></span> Añadir Material</a></li>
            <li><a href="/show_materiales"><span class="glyphicon glyphicon-list"></span> Ver Material</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-bullhorn"></span> Incidencias<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a href="/add_incidencia"><span class="glyphicon glyphicon-list"></span> Añadir Incidencia</a></li>
            <li><a href="/show_incidencias"><span class="glyphicon glyphicon-list"></span> Ver Incidencias</a></li>
          </ul>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Cerrar Sesión</a></li>
      </ul>
    </div>
  </div>
</nav>
	
<div class="titulo_empleados">
	<h2>Edicion Puestos</h2>
		{%if formulario %}
			<br>
			<form class="form" action="." method="POST">{% csrf_token %}
				<span class="glyphicon glyphicon-search"></span> {{ formulario }}
			</form>
			<br>
		{% endif %}
</div>
<div class="table-responsive">
	<table class="table table-striped sortable">
	<tr class="cabecera_tabla">
		<th>Puesto</th>
    <th>Departamento</th>
		<th>¿Eliminar?</th>
 	</tr>		
	{% for row in puestos %}
		<tr>
			<!--AÑADIR HREF EN EL NOMBRE QUE LLEVE A LA FICHA DEL EMPLEADO-->
			<td>{{ row.puesto }}</td>
      <td>{{ row.departamento }}</td>
			<td>
				<a class="btn-sm btn-info" href="/del_puestos/{{ row.puesto }}" onclick="return confirm('¿Estás seguro de que quieres eliminar a {{ row.puesto }}')" >Eliminar</a>
			</td>
		</tr>
	{% endfor %}
	</table>
</div>
</body>
</html>

